<!DOCTYPE html>
<html>
<head>
	<title>Phonebook</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%= nav_bar brand: "Phonebook", brand_link: root_url do %>
	<%= form_tag find_contact_path, method: :get, class: "navbar-form navbar-right" do %>
	<div class="form-group form-inline">
		<%= label_tag :Filter %>
		<%= text_field_tag :name, @name, class: "form-control" %>
	</div>
	<% end %>
	<% end %>

	<div class="container">
		<div id="flash">
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
		</div>
		<%= yield %>
	</div>
</body>
</html>
